.principles {
  width: 100%;
  height: auto;
  margin-top: 88px;

  .container {
    .principles__container {
      width: 100%;
      height: 100%;

      .pc__star {
        width: 100%;
        height: 15%;
        position: relative;

        img {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
      .pc__body {
        width: 100%;
        height: 80%;
        display: inline-grid;
        grid-template-columns: 33.3% 33.3% 33.3%;

        .pc__body__card {
          width: 100%;
          height: 440px;
          border-radius: 48px;
          border: 1px solid black;
          padding: 64px 56px 48px 56px;
          h3 {
            font-family: "EB Garamond", sans-serif;
            font-weight: 500;
            font-size: 4.5em;
            line-height: 80px;
            color: #000;
          }
          .pcb__card__inner {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .pcbc__inner__title {
              width: 100%;
              height: 160px;
              font-family: "Mulish", sans-serif;
              font-weight: 400;
              font-size: 1.625em;
              line-height: 40px;
              color: #000;
            }
            .pcbc__inner__btn {
              text-decoration: none;
              width: 112px;
              height: 80px;
              color: #000;
              border-radius: 64px;
              background-color: #fff;
              display: flex;
              align-items: center;
              font-size: 1.625em;
              justify-content: center;
              &:hover {
                transition: all 0.5s ease-in-out;
                background-color: #000;
                color: #fff;
              }
            }
          }
        }
        .demo {
          border: none;
        }
        .lightblue {
          background-color: #ebf3ff;
        }
        .lightgrey {
          background-color: #f6f6f6;
        }
      }
    }
  }
  .exp__shape {
    width: 100%;
    height: 400px;
    overflow: hidden;

    img {
      margin-top: 80px;
      width: 100%;
      height: 100%;
    }
  }
}
